* {
    padding: 0;
    border: 0;
}

.About-page {
    min-height: 50vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
    
}

.about-heading {
    font-size: calc(20px + 2vmin);
    writing-mode: vertical-rl;
    padding-bottom: 40px;
    padding-right: 15px;
    transform: rotate(180deg);
    color: #4B9CD3;
    min-height: 50vh;
    text-align: end;
    z-index: 0;
    width: 71.33px;
    display: block;
    
}

.about-text {
    width: 70vmin;
    text-align: center;
    padding: 30px;
    color: black;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 1.2rem;
    margin-top: 10px;
    letter-spacing: -.2px;
    display: flex;
}

.about-pictures {
    background-color: #4B9CD3;
    width: 90vmin;
    height: 50vh;
    justify-content: space-between;
    margin: 30px;
    top: 30px;
    display: flex;
    justify-content: center;
    display: block;
    border-radius: 30px;

    @media (min-width: 800px) {
        display: flex;
    }
}


@media screen and (max-width: 780px) {
    .about-pictures {
        width: 85vmin;
        margin: auto;
    }

    .about-text {
        width: 55vmin;
        margin-top: 0;
        
    }

    .About-page {
        flex-wrap: wrap;
    }
}
