.Project-page {
    font-size: calc(20px + 2vmin);
    color: #4B9CD3;
    text-align: center;
    padding-top: 30px;
    height: 100%;
}

.project-item-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 30px;
    height: 100%;
}

